@model ToBeImplemented.Business.ViewModel.Users.LoginViewModel

<div class="row">
    <form role="form" method="POST">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(x => x.UserName)
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
        <div class="checkbox">
            @Html.LabelFor(x => x.RememberMe)
            @Html.CheckBoxFor(x => x.RememberMe)
        </div>
        <button type="submit" class="btn btn-default pull-right">login</button>
    </form>
</div>