@model ToBeImplemented.Domain.ViewModel.Users.RegisterUserViewModel

<div class="row">
    <form role="form" method="POST">
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.ChallengeType)
        @Html.HiddenFor(m => m.SecurityChallengeText)
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(x => x.DisplayName)
            @Html.TextBoxFor(x => x.DisplayName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.PasswordConfirmation)
            @Html.TextBoxFor(x => x.PasswordConfirmation, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ChallengeType)
            @Html.DisplayTextFor(x => x.ChallengeType)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.SecurityChallengeText)
            @Html.DisplayTextFor(x => x.SecurityChallengeText)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.SecurityResult)
            @Html.TextBoxFor(x => x.SecurityResult, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-default pull-right">register</button>
    </form>
</div>